.App {
  padding-top: 30px;
  text-align: center;
  height: 100vh;
  min-height: 820px;
  background: url("./bg.jpg");
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  background: rgb(61, 81, 149);
  padding: 50px;
  border-radius: 20px;
  border: rgb(34, 48, 92) solid 3px;
}

img {
  width: 100%;
}

p.desc {
  line-height: 32px;
}

.apod {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 30px;
  width: 70%;
  font-size: 1rem;
  box-shadow: 1px 1px 3px 3px rgb(0, 0, 0, 0.5);
  color: white;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
}

.img-container,
.details-container {
  flex: 2;
  margin: 0 15px;
}

.img-container {
  flex: 3;
}
